<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.southplast.calculation.shrinkage.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.southplast.calculation.shrinkage.core.Perspective"
            fixed="false"
            id="org.southplast.calculation.shrinkage.core.perspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="org.southplast.calculation.shrinkage.core.views.GroupsView"
               minimized="false"
               moveable="true"
               ratio="0.2f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.southplast.calculation.shrinkage.core.views.MattersView"
               minimized="false"
               moveable="true"
               ratio="0.8f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="%menu.label">
            <command
                  commandId="org.southplast.calculation.shrinkage.core.commands.OpenFilterCommand"
                  label="Фильтр по группам"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%command.label">
            </command>
         </menu>
         <menu
               label="Справочник">
            <menu
                  label="Предельные отклонения валов">
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenShaftManuaCommand"
                     label="Квалитет 4"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="4">
                  </parameter>
               </command>
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenShaftManuaCommand"
                     label="Квалитет 5"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="5">
                  </parameter>
               </command>
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenShaftManuaCommand"
                     label="Квалитет 6"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="6">
                  </parameter>
               </command>
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenShaftManuaCommand"
                     label="Квалитет 7"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="7">
                  </parameter>
               </command>
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenShaftManuaCommand"
                     label="Квалитет 8"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="8">
                  </parameter>
               </command>
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenShaftManuaCommand"
                     label="Квалитет 9"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="9">
                  </parameter>
               </command>
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenShaftManuaCommand"
                     label="Квалитеты 10 и 11"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="10">
                  </parameter>
               </command>
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenShaftManuaCommand"
                     label="Квалитеты 12, 13 и 14"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="12">
                  </parameter>
               </command>
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenShaftManuaCommand"
                     label="Квалитеты 15, 16 и 17"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="16">
                  </parameter>
               </command>
            </menu>
            <menu
                  label="Предельные отклонения отверстий">
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenOpeningManualCommand"
                     label="Квалитеты 4 и 5"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="4">
                  </parameter>
               </command>
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenOpeningManualCommand"
                     label="Квалитет 6"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="6">
                  </parameter>
               </command>
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenOpeningManualCommand"
                     label="Квалитет 7"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="7">
                  </parameter>
               </command>
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenOpeningManualCommand"
                     label="Квалитет 8"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="8">
                  </parameter>
               </command>
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenOpeningManualCommand"
                     label="Квалитет 9"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="9">
                  </parameter>
               </command>
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenOpeningManualCommand"
                     label="Квалитеты 10 и 11"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="10">
                  </parameter>
               </command>
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenOpeningManualCommand"
                     label="Квалитеты 12, 13 и 14"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="12">
                  </parameter>
               </command>
               <command
                     commandId="org.southplast.calculation.shrinkage.core.commands.OpenOpeningManualCommand"
                     label="Квалитеты 15, 16 и 17"
                     style="push">
                  <parameter
                        name="org.southplast.calculation.shrinkage.core.workmanship"
                        value="15">
                  </parameter>
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.southplast.calculation.shrinkage.core.mainToolbar">
            <command
                  commandId="org.southplast.calculation.shrinkage.core.commands.AddGroupCommand"
                  disabledIcon="src/org/southplast/calculation/shrinkage/core/images/add_group_disabled.png"
                  icon="src/org/southplast/calculation/shrinkage/core/images/add_group.png"
                  label="Добавить группу материалов"
                  style="push"
                  tooltip="Добавить группу материалов">
            </command>
            <command
                  commandId="org.southplast.calculation.shrinkage.core.commands.EditGroupCommand"
                  disabledIcon="src/org/southplast/calculation/shrinkage/core/images/edit_group_disabled.png"
                  icon="src/org/southplast/calculation/shrinkage/core/images/edit_group.png"
                  label="Редактировать группу материалов"
                  style="push">
            </command>
            <command
                  commandId="org.southplast.calculation.shrinkage.core.commands.DeleteGroupCommand"
                  disabledIcon="src/org/southplast/calculation/shrinkage/core/images/delete_group_disabled.png"
                  icon="src/org/southplast/calculation/shrinkage/core/images/delete_group.png"
                  label="Удалить группу материалов"
                  style="push">
            </command>
             <command
                   commandId="org.southplast.calculation.shrinkage.core.commands.LoadMaterialsForGroupCommand"
                   disabledIcon="src/org/southplast/calculation/shrinkage/core/images/load_group_disabled.png"
                   icon="src/org/southplast/calculation/shrinkage/core/images/load_group.png"
                   label="Загрузить материалы для группы"
                   style="push">
            </command>
            <separator
                  name="org.southplast.calculation.shrinkage.core.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.southplast.calculation.shrinkage.core.commands.AddMaterialCommand"
                  disabledIcon="src/org/southplast/calculation/shrinkage/core/images/add_material_disabled.png"
                  icon="src/org/southplast/calculation/shrinkage/core/images/add_material.png"
                  label="Добавить материал"
                  style="push">
                 
            </command>
            <command
                  commandId="org.southplast.calculation.shrinkage.core.commands.EditMatterCommand"
                  disabledIcon="src/org/southplast/calculation/shrinkage/core/images/edit_material_disabled.png"
                  icon="src/org/southplast/calculation/shrinkage/core/images/edit_material.png"
                  label="Редактировать материал"
                  style="push">
            </command>
            <command
                  commandId="org.southplast.calculation.shrinkage.core.commands.DeleteMatterCommand"
                  disabledIcon="src/org/southplast/calculation/shrinkage/core/images/delete_material_disabled.png"
                  icon="src/org/southplast/calculation/shrinkage/core/images/delete_material.png"
                  label="Удалить материал"
                  style="push">
            </command>
            <separator
                  name="org.southplast.calculation.shrinkage.core.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.southplast.calculation.shrinkage.core.commands.AddDetailCommand"
                  disabledIcon="src/org/southplast/calculation/shrinkage/core/images/add_detail_disabled.png"
                  icon="src/org/southplast/calculation/shrinkage/core/images/add_detail.png"
                  label="Добавить деталь"
                  style="push"
                  tooltip="Добавить деталь">
            </command>
            <command
                  commandId="org.southplast.calculation.shrinkage.core.commands.EditDetailCommand"
                  disabledIcon="src/org/southplast/calculation/shrinkage/core/images/edit_detail_disabled.png"
                  icon="src/org/southplast/calculation/shrinkage/core/images/edit_detail.png"
                  label="Редактировать деталь"
                  style="push">
            </command>
            <command
                  commandId="org.southplast.calculation.shrinkage.core.commands.DeleteDetailCommand"
                  disabledIcon="src/org/southplast/calculation/shrinkage/core/images/delete_detail_disabled.png"
                  icon="src/org/southplast/calculation/shrinkage/core/images/delete_detail.png"
                  label="Удалить деталь"
                  style="push"
                  tooltip="Удалить деталь">
            </command>
            <command
                  commandId="org.southplast.calculation.shrinkage.core.command.OpenPreviewDetailCommand"
                  disabledIcon="src/org/southplast/calculation/shrinkage/core/images/preview_detail_disabled.png"
                  icon="src/org/southplast/calculation/shrinkage/core/images/preview_detail.png"
                  label="Показать расчеты"
                  style="push"
                  tooltip="Показать расчеты">
            </command>
            <separator
                  name="org.southplast.calculation.shrinkage.core.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.southplast.calculation.shrinkage.core.commands.MachingShrinkage"
                  disabledIcon="src/org/southplast/calculation/shrinkage/core/images/detail_matching_disabled.png"
                  icon="src/org/southplast/calculation/shrinkage/core/images/detail_matching.png"
                  label="Метод подбора"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="Вычисление усадки методом подбора">
            </command>
            <command
                  commandId="org.southplast.calculation.shrinkage.core.commands.CalculationShrinkage"
                  disabledIcon="src/org/southplast/calculation/shrinkage/core/images/detail_calculating_disabled.png"
                  icon="src/org/southplast/calculation/shrinkage/core/images/detail_calculating.png"
                  label="Метод расчета"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="Вычисление усадки методом расчета">
            </command>
           
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.southplast.calculation.shrinkage.core.views.GroupsView">
         <command
               commandId="org.southplast.calculation.shrinkage.core.commands.AddGroupCommand"
               label="Добавить группу"
               style="push">
         </command>
         <command
               commandId="org.southplast.calculation.shrinkage.core.commands.EditGroupCommand"
               label="Редактировать группу"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.southplast.calculation.shrinkage.core.oneElementSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.southplast.calculation.shrinkage.core.commands.DeleteGroupCommand"
               label="Удалить группу"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.southplast.calculation.shrinkage.core.oneElementSelected">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="org.southplast.calculation.shrinkage.core.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.southplast.calculation.shrinkage.core.commands.AddMaterialCommand"
               label="Добавить материал в группу"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.southplast.calculation.shrinkage.core.oneElementSelected">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="org.southplast.calculation.shrinkage.core.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.southplast.calculation.shrinkage.core.commands.LoadMaterialsForGroupCommand"
               label="Показать материалы группы"
               name="LoadDetailsForGroupCommand"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.southplast.calculation.shrinkage.core.oneElementSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.southplast.calculation.shrinkage.core.views.MattersView">
         <command
               commandId="org.southplast.calculation.shrinkage.core.commands.AddMaterialCommand"
               label="Добавить материал"
               style="push">
         </command>
         <command
               commandId="org.southplast.calculation.shrinkage.core.commands.EditMatterCommand"
               label="Редактировать материал"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.southplast.calculation.shrinkage.core.MatterSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.southplast.calculation.shrinkage.core.commands.DeleteMatterCommand"
               label="Удалить материал"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.southplast.calculation.shrinkage.core.MatterSelected">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="org.southplast.calculation.shrinkage.core.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.southplast.calculation.shrinkage.core.commands.AddDetailCommand"
               label="Добавить деталь"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.southplast.calculation.shrinkage.core.MatterSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.southplast.calculation.shrinkage.core.commands.EditDetailCommand"
               label="Редактировать деталь"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.southplast.calculation.shrinkage.core.DetailSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.southplast.calculation.shrinkage.core.commands.DeleteDetailCommand"
               label="Удалить деталь"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.southplast.calculation.shrinkage.core.DetailSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.southplast.calculation.shrinkage.core.command.OpenPreviewDetailCommand"
               label="Показать расчеты для детали"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.southplast.calculation.shrinkage.core.DetailSelected">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="org.southplast.calculation.shrinkage.core.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.southplast.calculation.shrinkage.core.commands.MachingShrinkage"
               label="Усадка методом подбора"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.southplast.calculation.shrinkage.core.DetailSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.southplast.calculation.shrinkage.core.commands.CalculationShrinkage"
               label="Усадка методом расчета"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.southplast.calculation.shrinkage.core.DetailSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.southplast.calculation.shrinkage.core.views.GroupsView"
            icon="icons/Win_tr_ready32.png"
            id="org.southplast.calculation.shrinkage.core.views.GroupsView"
            name="GroupsView"
            restorable="false">
      </view>
      <view
            class="org.southplast.calculation.shrinkage.core.views.MattersView"
            icon="icons/Win_tr_ready32.png"
            id="org.southplast.calculation.shrinkage.core.views.MattersView"
            name="MattersView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.southplast.calculation.shrinkage.core.views.CalculationView"
            icon="src/org/southplast/calculation/shrinkage/core/images/kruler_15.png"
            id="org.southplast.calculation.shrinkage.core.views.CalculationView"
            name="CalculationView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.southplast.calculation.shrinkage.core.views.MatchingView"
            icon="src/org/southplast/calculation/shrinkage/core/images/ruler_15.png"
            id="org.southplast.calculation.shrinkage.core.views.MatchingView"
            name="MatchingView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.southplast.calculation.shrinkage.core.commands.AddGroupCommand"
            name="AddGroupCommand">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.AddGroupHandler">
            <parameter
                  name="org.southplast.calculation.shrinkage.core.parameter2"
                  value="org.southplast.calculation.shrinkage.core.parameter2">
            </parameter>
         </defaultHandler>
      </command>
      <command
            defaultHandler="org.southplast.calculation.shrinkage.core.handlers.AddMaterialHandler"
            id="org.southplast.calculation.shrinkage.core.commands.AddMaterialCommand"
            name="AddMaterialCommand">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.AddMaterialHandler">
            <parameter
                  name="org.southplast.calculation.shrinkage.core.commands.AddMaterialCommand"
                  value="org.southplast.calculation.shrinkage.core.commands.AddMaterialCommand">
            </parameter>
         </defaultHandler>
         <state
               id="org.southplast.calculation.shrinkage.core.state1">
         </state>
      </command>
      <command
            id="org.southplast.calculation.shrinkage.core.commands.AddDetailCommand"
            name="AddDetailCommand">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.AddDetailHandler">
            <parameter
                  name="org.southplast.calculation.shrinkage.core.parameter3"
                  value="org.southplast.calculation.shrinkage.core.parameter3">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="org.southplast.calculation.shrinkage.core.commands.MachingShrinkage"
            name="MachingShrinkage">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.MatchingHandler">
            <parameter
                  name="org.southplast.calculation.shrinkage.core.parameter4"
                  value="org.southplast.calculation.shrinkage.core.parameter4">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="org.southplast.calculation.shrinkage.core.commands.CalculationShrinkage"
            name="CalculationShrinkage">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.CalculatingHandler">
            <parameter
                  name="org.southplast.calculation.shrinkage.core.parameter5"
                  value="org.southplast.calculation.shrinkage.core.parameter5">
            </parameter>
         </defaultHandler>
      </command>
      <command
            defaultHandler="org.southplast.calculation.shrinkage.core.handlers.RefreshHandler"
            id="org.southplast.calculation.shrinkage.core.commands.Refresh"
            name="Refresh">
      </command>
      <command
            id="org.southplast.calculation.shrinkage.core.commands.EditGroupCommand"
            name="EditGroupCommand">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.EditGroupHandler">
         </defaultHandler>
      </command>
      <command
            id="org.southplast.calculation.shrinkage.core.commands.DeleteGroupCommand"
            name="DeleteGroupCommand">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.DeleteGroupHandler">
            <parameter
                  name="org.southplast.calculation.shrinkage.core.parameter2"
                  value="org.southplast.calculation.shrinkage.core.parameter2">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="org.southplast.calculation.shrinkage.core.commands.DeleteMatterCommand"
            name="DeleteMatterCommand">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.DeleteMatterHandler">
            <parameter
                  name="org.southplast.calculation.shrinkage.core.parameter1"
                  value="org.southplast.calculation.shrinkage.core.parameter1">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="org.southplast.calculation.shrinkage.core.commands.DeleteDetailCommand"
            name="DeleteDetailCommand">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.DeleteDetailHandler">
            <parameter
                  name="org.southplast.calculation.shrinkage.core.parameter2"
                  value="org.southplast.calculation.shrinkage.core.parameter2">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="org.southplast.calculation.shrinkage.core.commands.EditMatterCommand"
            name="EditMatterCommand">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.EditMatterHandler">
            <parameter
                  name="org.southplast.calculation.shrinkage.core.parameter3"
                  value="org.southplast.calculation.shrinkage.core.parameter3">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="org.southplast.calculation.shrinkage.core.commands.EditDetailCommand"
            name="EditDetailCommand">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.EditDetailHandler">
            <parameter
                  name="org.southplast.calculation.shrinkage.core.parameter4"
                  value="org.southplast.calculation.shrinkage.core.parameter4">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="org.southplast.calculation.shrinkage.core.commands.LoadMaterialsForGroupCommand"
            name="LoadMaterialsForGroupCommand">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.LoadingMattersHandler">
            <parameter
                  name="org.southplast.calculation.shrinkage.core.parameter1"
                  value="org.southplast.calculation.shrinkage.core.parameter1">
            </parameter>
         </defaultHandler>
      </command>
      <command
            defaultHandler="org.southplast.calculation.shrinkage.core.handlers.OpenDetailPreviewHandler"
            id="org.southplast.calculation.shrinkage.core.command.OpenPreviewDetailCommand"
            name="OpenPreviewDetailCommand">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.OpenDetailPreviewHandler">
            <parameter
                  name="org.southplast.calculation.shrinkage.core.parameter1"
                  value="org.southplast.calculation.shrinkage.core.parameter1">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="org.southplast.calculation.shrinkage.core.commands.OpenFilterCommand"
            name="OpenFilterCommand">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.OpenFilterHandler">
            <parameter
                  name="org.southplast.calculation.shrinkage.core.parameter1"
                  value="org.southplast.calculation.shrinkage.core.parameter1">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="org.southplast.calculation.shrinkage.core.commands.OpenShaftManuaCommand"
            name="Предельные отклонения валов">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.OpenShaftManualHandler">
            <parameter
                  name="org.southplast.calculation.shrinkage.core.parameter1"
                  value="org.southplast.calculation.shrinkage.core.parameter1">
            </parameter>
         </defaultHandler>
         <commandParameter
               id="org.southplast.calculation.shrinkage.core.workmanship"
               name="workmanship"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="org.southplast.calculation.shrinkage.core.commands.OpenOpeningManualCommand"
            name="Предельные отклонения отверстий">
         <defaultHandler
               class="org.southplast.calculation.shrinkage.core.handlers.OpenOpeningManualHandler">
            <parameter
                  name="org.southplast.calculation.shrinkage.core.parameter1"
                  value="org.southplast.calculation.shrinkage.core.parameter1">
            </parameter>
         </defaultHandler>
         <commandParameter
               id="org.southplast.calculation.shrinkage.core.workmanship"
               name="workmanship"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         id="ShrinkageProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.southplast.calculation.shrinkage.core.application"
            name="Shrinkage">
         <property
               name="appName"
               value="Shrinkage">
         </property>
         <property
               name="windowImages"
               value="icons/Stationery_16.png,icons/Stationery32.png,icons/Stationery_16.png,icons/Stationery_64.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.southplast.calculation.shrinkage.core.splashHandlers.BrowserSplashHandler"
            id="org.southplast.calculation.shrinkage.core.splashHandlers.browser">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.southplast.calculation.shrinkage.core.ShrinkageProduct"
            splashId="org.southplast.calculation.shrinkage.core.splashHandlers.extensible">
      </splashHandlerProductBinding>
      <splashHandler
            class="org.southplast.calculation.shrinkage.core.splashHandlers.InteractiveSplashHandler"
            id="org.southplast.calculation.shrinkage.core.splashHandlers.interactive">
      </splashHandler>
      <splashHandler
            class="org.southplast.calculation.shrinkage.core.splashHandlers.ExtensibleSplashHandler"
            id="org.southplast.calculation.shrinkage.core.splashHandlers.extensible">
      </splashHandler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.southplast.calculation.shrinkage.core.oneElementSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="org.southplast.calculation.shrinkage.core.MatterSelected">
         <with
               variable="selection">
               <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.southplast.calculation.shrinkage.core.domain.Matter">
                     </instanceof>
                  </iterate>           
         </with>
      </definition>
      <definition
            id="org.southplast.calculation.shrinkage.core.DetailSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="org.southplast.calculation.shrinkage.core.domain.Detail">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.southplast.calculation.shrinkage.core.MatterGroupSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="org.southplast.calculation.shrinkage.core.domain.MatterGroup">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         id="ShrinkageCalculation"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.southplast.calculation.shrinkage.core.application"
            name="Shrinkage">
         <property
               name="windowImages"
               value="icons/Stationery_16.png,icons/Stationery32.png,icons/Stationery_48.png,icons/Stationery_64.png">
         </property>
         <property
               name="appName"
               value="Shrinkage">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.southplast.calculation.shrinkage.core.handlers.AddMaterialHandler"
            commandId="org.southplast.calculation.shrinkage.core.commands.AddMaterialCommand">
         <activeWhen>
            <reference
                  definitionId="org.southplast.calculation.shrinkage.core.MatterGroupSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="org.southplast.calculation.shrinkage.core.oneElementSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.southplast.calculation.shrinkage.core.splashExtension">
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/embedded.png"
            id="embedded"
            tooltip="Embedded">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="Enterprise">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Languages">
      </splashExtension>
      <splashExtension
            icon="icons/rcp.png"
            id="rcp"
            tooltip="RCP">
      </splashExtension>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ant.core.antRunner"
            name="Shrinkage">
         <property
               name="windowImages"
               value="/org.southplast.calculation.shrinkage.core/icons/Stationery_16.png,/org.southplast.calculation.shrinkage.core/icons/Stationery32.png,/org.southplast.calculation.shrinkage.core/icons/Stationery_48.png,/org.southplast.calculation.shrinkage.core/icons/Stationery_64.png">
         </property>
         <property
               name="appName"
               value="Shrinkage">
         </property>
      </product>
   </extension>

</plugin>
